# For projects using nanoc (http://nanoc.stoneship.org/)


# Mac stuff
.DS_Store


# Default location for output, needs to match output_dir's value found in config.yaml
#
# Commented this out for now: need output in feed to get github pages to work?
# readded it: the source and master repos should not copy or delete these files. nanoc-git will do the copying for me
output/

.sass-cache/
crash.log

# Temporary file directory
tmp/

# Sitecopy's status files
sitecopy/
#sitecopy/homedrive.ziggo.nl

# Emacs temporary files
.\#*
*~
