html {
  height: 100%; }

body {
  background-color: black;
  height: 100%; }

.title {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 450%;
  margin-left: 0.75em;
  margin-top: 0.5em;
  text-decoration: none;
  color: #bbbbbb;
  background-color: black; }
  .title .pragti-ch {
    color: orange; }

a.button {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: 70%;
  margin: 2% 10%;
  color: #bbbbbb;
  height: 10em;
  display: block;
  text-decoration: none;
  border-radius: 1em; }

a.button:hover {
  background-color: #222222;
  color: #eeeeee; }

img {
  float: left;
  vertical-align: middle;
  max-height: 8em;
  margin-top: 1em;
  margin-left: 1em; }

.txt {
  margin-left: 3em;
  line-height: 10em; }

.footer {
  clear: both; }
