$backcolor: #000
$accent: orange
$fgcolor: #ccc
$radius: 6px
$height: 80%
$top: 10%
$box1: 20%
$box2: 60%
$box3: 10%
$boxmargin: percentage((100% - $box1 - $box2 -$box3) / 400%)

html
 height: 100%
 margin: 0

body
 background-color: $backcolor
 height: 100%
 margin: 0


.title
 width: 100%
 margin-left: 20px
 font-family: Verdana, Arial, Helvetica, sans-serif
 font-size: 60px
 text-decoration: none
 color: $fgcolor
 background-color: $backcolor
 line-height: 90px
 .pragti-ch
  color: $accent

