$fgcolor: #ccc
$backcolor: #000
$accent: orange

html
 height: 100%

body
 background-color: $backcolor
 height: 100%

.title
 margin-left: 40px
 margin-top: 30px
 font-family: Verdana, Arial, Helvetica, sans-serif
 font-size: 60px
 text-decoration: none
 color: $fgcolor
 background-color: $backcolor
 .pragti-ch
  color: $accent

a.button
 font-family: Verdana, Arial, Helvetica, sans-serif
 font-size: 16px
 width: 70%
 margin: 5% 10%
 color: $fgcolor
 height: 8em
 display: block
 text-decoration: none

a.button:hover
 background-color: #111
 color: #eee

img
 height: 100% 
 float: left

 vertical-align: middle
 max-height: 100%
  
  
.txt
 margin-left: 3%
 line-height: 8em



.footer
 clear: both

 