$backcolor: #bbbbbb
$fgcolor: #ffffff
$radius: 6px

html
 height: 100%

 body
  background-color: $backcolor
  height: 100%

.title
 font-family: Verdana, Arial, Helvetica, sans-serif
 font-size: 45px
 text-decoration: none
 color: #000000
 line-height: 75px

@mixin box-props($width)
 width: $width
 background: $fgcolor
 height: 100%
 margin: 20px percentage(( 1 - 0.9) / 6)
 padding: 0
 float: left
 text-align: center
 -webkit-border-radius: $radius
 -moz-border-radius: $radius
 border-radius: $radius

.switchboard
 #left
  clear: left
  @include box-props(20%)
 #middle
  @include box-props(60%)
 #right
  @include box-props(10%)

.footer
 .text-align: left