!!!
%html{:lang => "en"}
 %head
  %title Joris Pragt's site -- Pragtich
  %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/sb-stylesheet.css", :media=>"screen"}
 %body
  .title><
   %span(class="pragti-ch")>< Pragt
   ich
  %a.button(href="kippycam.html")
   %img(src="kippy-light.png")
   %span.txt
    See the chickens!
   .footer
    
  	
  
