!!!
%html{:lang => "en"}
 %head
  %title Joris Pragt's site -- Pragtich
  %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/sb-stylesheet.css", :media=>"screen"}
 %body
  .title><
   %span(class="pragti-ch")>< Pragt
   ich
  %a.button(href="http://pragtich.hopto.org/?action=stream")
   %img(src="kippy-light.png")
   %span.txt
    See some chickens! (Currently offline still)

  %a.button(href="blog/all_articles.html")
   %img(src="nanoc-ss.jpg")
   %span.txt
    A blog about stuff

   .footer
    
  	
  
