
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Joris Pragt's site -- Pragtich</title>
<link rel="stylesheet" type="text/css" href="/stylesheet.css" media="screen" />
</head>
<body>
<article>
<bodytext>
.content= yield
</bodytext>
</article>

<titleframe>
<titlebar>
<DIV id="largetitle"> <A href="/" >Pragtich</A></DIV>
<DIV id="secnav">

</DIV>
<DIV id="artnav">
</DIV> 
</titlebar>
</titleframe>
</body>
</html>

