!!!
%html{:lang => "en"}
 %head
  %title Joris Pragt's site -- Pragtich
  %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/sb-stylesheet.css", :media=>"screen"}
 %body
  .title><
   %span(class="pragti-ch")>< Pragt
   ich
  %a.item(href="index.html")
   %img(src="kippy-light.jpg" )
   See some chickens
  .item
   Read a blog
  
