!!!
%html{:lang => "en"}
 %head
  %title Joris Pragt's site -- Pragtich
  %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/sb-stylesheet.css", :media=>"screen"}
 %body
  / .title   Make your choice
  .switchboard
   #left
   #middle
    %img{:src=>"Chicks2011.jpg"}
   #right
    trala
  
