!!!
%html{:lang => "en", :height=>"100%"}
 %head
  %title Joris Pragt's site -- Pragtich
  %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/sb-stylesheet.css", :media=>"screen"}
 %body{:height=>"100%"}
  .title
   Make your choice
  .switchboard{:height=>"100%"}
   #left
    lala
   #middle{:height=>"100%"}
    dada
   #right
    trala
  
